 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2b292c;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 75px;
    display: flex;
    justify-content: center;
    color: white;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: rgb(42, 122, 189);
    font-size: 17px;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

hr {
    border: 0.5px solid grey;
}

p {
    color: red;
    position: relative;
    margin-left: 5%;
    margin-bottom: 10px;
}

#fpw {
    color: white;
    position: relative;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 30px;
}

label {
    display: flex;
    flex-direction: row;
    color: white;
    width: 30%;
    margin-left: 5%;
    margin-bottom: 15px;
    float: left;
}

input.advance-search {
    display: flex;
    flex-direction: row;
    color: black;
    position: relative;
    width: 30%;
    margin-left: 30%;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.advbutton {
    position: absolute;
    font-size: 15px;
    padding: 5px 12px;
    background-color: #2654a8;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
} 








#searchbar {
    font-size: 16px;
    width: 410px;
    height: 40px;
    border-radius: 60px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#search-bar:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

input[type=submit] {
    font-size: 15px;
    padding: 10px 20px;
    background-color: #474747;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
}

input:hover[type=submit] {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

input[type=text] {
    color: white;
    padding-left: 10px;
}

    
#navbar {
    list-style-type: none;
    font-family: sans-serif;
    margin: 10px;
    padding: 20px;
    text-align: right;
}

a {
    text-decoration: none;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
}

a:hover {
    text-decoration: underline
}

form {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}